
.mario{
    background-image: url(marioretro.png);
    background-size:contain;
    height: 100px;
    width: 100px;
    position: relative;
    animation: infinite;
    animation-name: mario;
    animation-duration: 12s;
}
.box{
    background-image: url(retroblock.png);
    background-size:contain;
    height: 50px;
    width: 50px;
    position: relative;
    animation:infinite;
    animation-name: box;
    animation-duration: 3s;
}
.mariobackground{
    background-image: url(mariobackground.jpeg);
    background-size:contain;
    height: 500px;
    margin-top: -220px;
}
.z{
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 45px;
    position: relative;
    animation: infinite;;
    animation-name: z;
    animation-duration: 4s;
}

@keyframes mario{
    0% {left:0px; top:370px;}
    10% {left:30px; top:370px;}
    15% {left:30px; top:370px;}
    20% {left:30px; top:150px;}
    22% {left:30px; top:370px;}
    25% {left:30px; top:370px;}
    30% {left:30px; top:150px;}
    35% {left:30px; top:370px;}
    40% {left:30px;; top:370px;}
    45% {left:30px; top:150px;}
    50% {left:30px; top:370px;}
    55% {left:30px; top:370px;}
    60% {left:30px; top:150px;}
    65% {left:30px; top:370px;}
    70% {left:30px; top:370px;}
    75% {left:30px; top:150px;}
    80% {left:30px; top:370px;}
    85% {left:30px; top:370px;}
    90% {left:30px; top:150px;}
    95% {left:30px; top:370px;}
    100% {left:30px; top:370px;}

}

@keyframes box{
    0% {left:40px; top:80px;}
    20% {left:40px; top:80px;}
    30% {left:40px; top:80px;}
    35% {left:40px; top:80px;}
    40% {left:40px; top:80px;}
    45% {left:40px; top:80px;}
    50% {left:40px; top:80px;}
    52% {left:40px; top:80px;}
    54% {left:40px; top:80px;}
    56% {left:40px; top:80px;}
    60% {left:40px; top:80px;}
    61% {left:40px; top:80px;}
    62% {left:40px; top:80px;}
    64% {left:40px; top:80px;}
    66% {left:40px; top:80px;}
    68% {left:40px; top:80px;}
    70% {left:40px; top:20px;}
    72% {left:40px; top:20px;}
    100% {left:40px; top:80px;}
}
@keyframes z{
    0%  {left:40px; top:-410px;}
    20% {left:40px; top:-410px;}
    30% {left:40px; top:-410px;}
    35% {left:40px; top:-410px;}
    40% {left:40px; top:-410px;}
    45% {left:40px; top:-410px;}
    50% {left:40px; top:-410px;}
    60% {left:40px; top:-450px;}
    65% {left:40px; top:-410px;}
    100% {left:40px; top:-410px;}
}

